@keyframes colorchange { 
    0% { color: #ff0000; } 
    14% { color: #ffa500; } 
    28% { color: #ffff00; } 
    42% { color: #008000; } 
    56% { color: #0000ff; }
    70% { color: #4b0082; } 
    84% { color: #ee82ee; } 
    100% { color: #ff0000; }
}

.cube {
	position: absolute;
	top: 80vh;
	left: 45vw;
	width: 10px;
	height: 10px;
	border: solid 1px #003298;
	transform-origin: top left;
	transform: scale(0) rotate(0deg) translate(-50%, -50%);
	-webkit-animation: cube 12s ease-in forwards infinite;
			animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
	border-color: #0051f4;
  }
  .cube:nth-child(2) {
	-webkit-animation-delay: 2s;
			animation-delay: 2s;
	left: 25vw;
	top: 40vh;
  }
  .cube:nth-child(3) {
	-webkit-animation-delay: 4s;
			animation-delay: 4s;
	left: 75vw;
	top: 50vh;
  }
  .cube:nth-child(4) {
	-webkit-animation-delay: 6s;
			animation-delay: 6s;
	left: 90vw;
	top: 10vh;
  }
  .cube:nth-child(5) {
	-webkit-animation-delay: 8s;
			animation-delay: 8s;
	left: 10vw;
	top: 85vh;
  }
  .cube:nth-child(6) {
	-webkit-animation-delay: 10s;
			animation-delay: 10s;
	left: 50vw;
	top: 10vh;
  }
  
  @-webkit-keyframes cube {
	from {
	  transform: scale(0) rotate(0deg) translate(-50%, -50%);
	  opacity: 1;
	}
	to {
	  transform: scale(20) rotate(960deg) translate(-50%, -50%);
	  opacity: 0;
	}
  }
  
  @keyframes cube {
	from {
	  transform: scale(0) rotate(0deg) translate(-50%, -50%);
	  opacity: 1;
	}
	to {
	  transform: scale(20) rotate(960deg) translate(-50%, -50%);
	  opacity: 0;
	}
  }

.customtriangle{
    animation: colorchange 15s; /* animation-name followed by duration in seconds*/ /* you could also use milliseconds (ms) or something like 2.5s */ 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}
.bg-blur{
    backdrop-filter: blur(3px);
    background: #191e29;
    background: -webkit-radial-gradient(circle, #14161da2 0%, #0a0c1391 100%);
    background: radial-gradient(circle, #2730447a 0%, #090b0f86 100%);
}

.btnpulse:hover{
    background: rgba(52, 172, 224, 1);
	box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	animation: pulse-blue 3s infinite;    
}
.btn-pulse-ai:hover > .showtxt{
    display: inline-flex !important;
    transform: scale(1);
    transition: all .3s;
}
.btn-pulse-ai:hover{
    animation: pulse-purple 2s both;
}
.btn-pulse-ai{
    background: rgba(142, 68, 173, 1);
	box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);	
}
.btn-pulse-ai span{
    display: none;
    transition: all .3s;
}

@keyframes pulse-purple {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
	}
}

@keyframes pulse-blue {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	
	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

.fullW-on{
    display: none !important;
}
.fullW-on{
    display: inherit;
}